.wrapper {
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
}

.entry {
  border: var(--border-S);
  width: 25vw;
  padding: var(--space-S);
  background: var(--background);
  backdrop-filter: blur(10px);
}

.entry:hover {
  color: var(--background);
  background-color: var(--foreground);
}

.active {
  color: var(--background);
  background-color: var(--foreground);
}

.archiveWrapper {
  display: flex;
  flex-direction: column;
}

.submenu {
  display: flex;
  flex-direction: column;
}

.submenu .entry {
  width: 25vw;
  padding-left: calc(var(--space-S) * 2);
}
